#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


button{
  background-color: #df5606; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave */

}

button:hover {
  background-color: #ca5013; /* Color al pasar el cursor */
}

button:focus {
  outline: none; /* Sin contorno al hacer foco */
}


body {
  background-color: #dfba05; /* Color de fondo global */
}

.container {
  background-color: #ffffff; /* Color de fondo para el contenido */
  padding: 2rem; /* Espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}